body,
header,
main,
section,
h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  background-image: url(images/header-background-snow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: black;
  z-index: 4;
  border-top: 1px solid grey;
  top: 0;
  left: 0;
}


.food-li:hover {
  scale: 1.1;
  transition: .5s;
  cursor:pointer
}

.entertainment-li:hover {
  scale: 1.1;
  transition: .5s;
  cursor: pointer;
}

.clothing-li:hover {
  scale: 1.1;
  transition: .5s;
  cursor: pointer;
}

.bills-li:hover {
  scale: 1.1;
  transition: .5s;
  cursor: pointer;
}


body {
  background-color: #E2FCFF;
}

h1 {
  width: 200px;
  text-align: center;
}

.logo {
  height: 80px;
}

.total-box {
  font-size: 1.5em;
  font-weight: 700;
}

main {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 80%;
  height: 300px;
  margin-bottom: 15px;
  font-size: 1.75em;
}

.condescend-message {
  height: 10%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
  margin-top: 150px;
  color: rgb(90, 90, 90)
}

.graph-container {
  /* border: black solid 1px; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:#6BA7CC;
  border-radius: 15px;
  border: 1px solid grey

}

.graph-container p {
  padding: 0 40px;
}

.graph-container:hover {
  scale: 1.1;
  transition: .5s;
}

.border {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 200px;
  border-top: 2px solid grey;

}

.bar-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
}

.total-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.bar-container div {
  width: 75px;
}

.total-bar {
  height: 410px;
  background-color: grey;
  width: 75px;
}

.bars {
  width: 385px;
  height: 82%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bar-container div p {
  display: none;
}

.add-funds:hover {
  scale: 1.1;
  background-color: rgb(173, 66, 173);
}

.button-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container button {
  height: 50%;
  width: 100px;
  border-radius: 15px;
  background-color: #6BA7CC;
  border: 1px solid grey
  
}

.button-container button:hover {
  scale: 1.1;
  transition: 0.5s;
}

.food:hover{
 background-color:khaki
}

.entertainment:hover{
  background-color: lightgreen;
}

.clothing:hover{
  background-color: lightcoral;
}

.bills:hover{
  background-color: lightskyblue;
}

footer {
  margin-top: 80px;
  height: 100px;
  display: flex;
  justify-content: center;
}

footer form  {
  height: 60%;
  width: 80%;
  border-radius: 15px;
}

footer form button {
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  background-color: #6BA7CC;
  border: 2px solid grey;
  display: none;
}

footer button:hover {
  background-color: skyblue;
  transition: 0.5s;
  scale: 1.1;
}

.pop-up {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-image: url(/images/judgey-penguin.jfif);
  background-size: cover;
  color: orange;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  position: absolute;
  top: -39px;
}

label {
  margin: 10px 0;
}

.submit-button {
  margin-top: 140px;
  padding: 10px 40px;
  position: absolute;
  border-radius: 15px;
  top: 180px;
}

.submit-button:hover {
  scale: 1.1;
  transition: 0.5s;
  background-color: lightblue;
}

.submit-button-2 {
  position: absolute;
  top: 135px;
  padding: 15px;
  width: 125px;
  border-radius: 15px;
  font-weight: bold;
}

.submit-button-2:hover {
  scale: 1.1;
  transition: 0.5s;
  background-color: lightblue;
}

.start-pop-up {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-image: url(/images/starting-pop-up-budget.jpg);
  background-size: cover;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
}

.start-label{
  margin-top: 125px;
}

.start-pop-up button {
  margin-top: 70px;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  background-color: #CBF1FA
}

.start-pop-up button:hover{
  background-color: lightblue;
  padding: 20px;
  transition: .5s;
}

.graph-pop-up {
  display: none;
  width: 90%;
  height: 150px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  top: 130%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.5;
  background-color: #AEDBF0;
}

.graph-pop-up::-webkit-scrollbar {
  display: none;
}

.graph-pop-up ol {
  font-weight: bold;
}

.graph-pop-up li {
  font-weight: lighter;
}

.graph-X-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
}

.graph-X-button:hover {
  transition: 0.5s;
  width: 30px;
  height: 30px;
}

.add-money-popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-image: url(/images/RT4GFWf858-6.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;

}

.add-money-label {
  position:absolute;
  top: -71px;
}

#add-money {
  position: absolute;
  top: 114px;
  width: 170px;
}

.add-money-popup form {
  color: steelblue;
  font-size: 1.5em;
  font-weight: bold;
  display: none;
  flex-direction: column;
  height: 300px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 15px;
  align-items:center;
}

.form-add-money img {
  height: 75px;
  margin-top: 20px;
}

.add-money-popup label {
  margin-top: 90px;
}

@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .graph-container {
    width: 50%;
  }

  .button-container {
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-left: 190px;
  }

  .button-container button {
    width: 90%;
    height: 10%;
  }

  .button-container button:hover {
    width: 200px;
  }

  footer button:hover {
    padding: 25px;
  }

  .graph-pop-up {
    position: absolute;
    height: 275px;
    width: 350px;
    left: 47%;
    top: 45%;
    margin: 0;
  }

  .border {
    width: 90%;
    overflow: none;
  }
  .bars {
    width: 90%;
  }

  .graph-container section:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


@media only screen and (max-width: 420px) {
  .button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .button-container button {
    font-size: 10px;
    width: 100px;
  }

  header h1 {
    font-size: 16px;
  }

  .total-box {
    font-size: 14px;
  }

  .logo {
    height: 50px;
  }
}

@media only screen and (min-width: 2200px){
  .border{
    width: 600px;
  }
}


/* #006699  darkerblue
   #00A0DC  lighterblue
   #313335  blackish
   #86888A  grey
   #CACCCE grey-white
