body, header, main, section, h1 {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  background-image: url(images/header-background-snow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: black;
  padding: 10px 10px 0 10px;
}

h1 {
  width: 200px;
  text-align: center;
}

.logo {
  height: 100px;
}

.total-box {
  font-size: 1.5em;
  font-weight: 700;
}


main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.box {
  width: 80%;
  height: 300px;
  margin-bottom: 15px;
  font-size: 1.75em;
}

.condescend-message {
  height: 10%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
  margin-top: 150px;
}

.graph-container {
  border: black solid 1px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items:flex-end
}

.border {
  display: flex;
  border-top: 1px solid black;
}

.graph-container p {
  padding: 0 40px;
}

.button-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container button {
  height: 50%;;
  width: 20%;
  border-radius: 15px;
  
}

.button-container button:hover {
  height: 60px;
  width: 120px;
  background-color: lightblue;
  transition: .5s;
}

footer {
  margin-top: 80px;
  height: 100px;
  display: flex;
  justify-content: center;
}

footer button {
  height: 60%;
  width: 80%;
  border-radius: 15px;
}

footer button:hover {
  background-color: skyblue;
  transition: .5s;

}

.pop-up {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-image: url(/images/judgey-penguin.jfif);
  background-size: cover;
  color: orange;
  font-weight: 600;
  text-align:center;
  border-radius: 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding-left: 30px;
}

label {
  margin: 10px 0;
}

.submit-button {
  margin-top: 140px;
  padding: 10px 40px;
  border-radius: 15px;
}

.submit-button:hover {
  padding: 15px 50px;
  transition: .5s;
  background-color: lightblue;
}

@media only screen and (min-width: 768px) {
  main {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .graph-container {
      width: 50%;
  }

  .button-container{
      width: 15%;
      flex-direction: column;
      justify-content: space-between;
      height: 500px;
      margin-left: 190px;
  }

  .button-container button {
      width: 90%;
      height: 10%;
  }

  .button-container button:hover {
      width: 200px;
  }

  footer button:hover {
      width: 90%; 
  }
}